* {
	margin: 0;
	padding: 0;
	font-family: Calibri;
	color: #d47c0b;
}
/*html {
	padding-top: 1%;
}*/

.padding {
	padding: 2%!important;
}
.margin-top-2 {
	margin-top: 2%;
}
.margin-top-5 {
	margin-top: 5%;
}
.margin-top-10 {
	margin-top: 10%;
}
.center {
	text-align: center;
}
.textOrange {
	color: #d47c0b;
}