.kanban {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    border: 5px solid #d47c0b;
    justify-content: center;
    padding: 0!important;
}
.todo,
.process,
.done {
    min-height: 450px;
    width: 33.33%;
}
.process {
    border-left: 5px solid #d47c0b;
    border-right: 5px solid #d47c0b;
}
.ticket {
    display: inline-block;
    width: 30%;
    height: 200px;
}
.description {
    height: 90px;
    overflow: scroll;
}
.dropdown-title {
    line-height: 50px;
}
.dropdown-info {
    line-height: 50px;
}