.nav-bar {
	background-color: #d47c0b;
}
.nav-bar li {
	display: inline-block;
	width: 24%;
	background-color: #d47c0b;
	font-family: Calibri;
	font-size: 150%;
	color: white;
	text-align: center;
	line-height: 60px;
}
.hover:hover {
	background-color: white;
	color: #d47c0b;
}