.btn-add-ticket {
	display: inline-block;
	height: 100px;
	text-align: center;
	margin-top: 5%;
	margin-left: 2%!important;
}

/*==========================================
MODAL ADD TICKET
==========================================*/

.modal-add-ticket {
    top: 3%!important;
    height: 90%!important;
    max-height: none;
}
.modal-content {
    height: 100%!important;
}

/*=================END MODAL ADD TICKET=========================*/