
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Kanban {% endblock %}</title>

    <!-- CSS -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    
    <link rel="stylesheet" href="assets/css/global.css">
    <link rel="stylesheet" href="assets/css/navBar.css">
    <link rel="stylesheet" href="assets/css/kanban.css">
    <link rel="stylesheet" href="assets/css/user.css">
    <link rel="stylesheet" href="assets/css/ticket.css">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

</head>

<body class="user">
    {% block body %}

        <!-- NAVBAR -->
        <div class="navbar-fixed">
            <nav>
                <ul class="nav-bar">
                    <li>KANBAN by Jok</li>
                    <a href="./index.php"><li class="hover">BOARD</li></a>
                    <a href="./user.php"><li class="hover">UTILISATEUR</li></a>
                </ul>
            </nav>
        </div>








    {% endblock %}
</body>

</html>